*{
margun: 0%;
padding: 0%;
} 
body {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    z-index: 5;
}

.logo-name {

    display: inline-flex;


}

img {
    display: inline-block;
    flex-shrink: 0;
}

 h1 {
    display: inline-block;
    margin-top: 54.69px;
    flex-shrink: 0;
    font-family: 'Libre Franklin', sans-serif;
    color: #363636;
    font-size: 29.203px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
}

ul {
    display: inline-flex;
    gap: 60.17px;
}

li {
    list-style: none;
    margin-top: 47.69px;
    font-family: 'Libre Franklin', sans-serif;
    color: #363636;
    font-size: 19.203px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

a {
    text-decoration: none;
    color: #000;
    position: relative;
}
.items a:hover{
    color: #024164;
}
.items a::after{
    content: "";
    position: absolute;
    background-color: #024164;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
.items a:hover:after{
    height: 3px;
    width: 100%;
    left: 0;
}
nav {
    margin-left: 58.61px;
    display: inline-flex;
    gap: 542.26px;
    background-color: #ffffff;
    position: sticky;
    top: 0px;
    margin: 0%;
    width: 100%;
    z-index: 5;
    margin-left: 0%;
}

.content h1 {
    display: block;
    color: #024164;
    font-family: 'Libre Franklin', sans-serif;
    margin-left: 68.61px;
    margin-top: 125.41px;
    font-size: 29.203px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0px;
}

#main {
    color: #363636;
    font-family: 'Libre Franklin', sans-serif;
    margin-left: 68.61px;
    font-size: 68.406px;
    font-style: normal;
    font-weight: 700;
  top: 0px;
  bottom: 0px;
  padding: 0px;
  margin-top: 0px;
    line-height: normal;
}
span{
    color: #024164;
}
.vector{
    position: absolute;
    width: 100%;
    margin-top: 40px;
    vertical-align: bottom;
    z-index: -5;
}
#cont{
    color: #fff;
    text-align: center;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 18.417px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    vertical-align: middle;
    margin-right: 800px;
    width: 158.747px;
    height: 22.025px;
    margin-left: 0px;
    margin-top: 10px;
    flex-shrink: 0;
    top: 0px;
    position: absolute;
    z-index: -5;

}


.button1{
    border-radius: 37.779px;
    background: #024164;
    box-shadow: 0px 6.29644px 6.29644px 0px rgba(0, 0, 0, 0.25);
    width: 158.98px;
    height: 40.37px;
    position: relative;
    vertical-align: bottom;
    margin-left: 68.61px;
    margin-top: 20px;
    z-index: -5;
}
.car{
    width: 554px;
    height: 376.117px;
    flex-shrink: 0;
position: absolute;
margin-left: 784.27px;
top: 263px;
z-index: -5;
}
.about h1{
    position: relative;
    margin-top: 400px;
    font-family: 'Libre Franklin', sans-serif;
    margin-left: 68.61px;
    font-size: 68.406px;
    font-style: normal;
    font-weight: 700;
    color: #024164;
    margin-bottom: 25px;
    z-index: -5;
}
.margin{
vertical-align: bottom;
}
.socialimg{

    width: 35.935px;
height: 35.308px;
flex-shrink: 0;
    position: absolute;
    margin-left: 1314.27px;
    top: 143px;
}
.social{
    display: flex;
    gap: 60.8px;

}
.about p{
    margin-left: 68.61px;
    color: #000;
    font-family: 'Libre Franklin', sans-serif;
    width: 800.58px;
    height: 90px;
    margin-top: 0px;
font-size: 28px;
font-style: normal;
font-weight: 300;
line-height: normal;
letter-spacing: 2.4px;
}
.about{
    margin-top: 250px;
}
.Services1{
    margin-top: 0px;

}
.Services1 h1{
    position: relative;
    font-family: 'Libre Franklin', sans-serif;
    margin-left: 68.61px;
    font-size: 68.406px;
    font-style: normal;
    font-weight: 700;
    color: #024164;
    margin-bottom: 25px;
    z-index: -5;
}

.Services1 p{
    margin-left: 68.61px;
    color: #000;
    font-family: 'Libre Franklin', sans-serif;
    width: 800.58px;
    height: 90px;
    margin-top: 0px;
    margin-bottom: 200px;
font-size: 28px;
font-style: normal;
font-weight: 300;
line-height: normal;
letter-spacing: 2.4px;
}
.Services1{
    margin-left: 650px;
}
.contact1{
        margin-top: 0px;

}

.contact1 p{
    margin-left: 68.61px;
    color: #000;
    font-family: 'Libre Franklin', sans-serif;
    width: 800.58px;
    height: 90px;
    margin-top: 0px;
    margin-bottom: 200px;
font-size: 28px;
font-style: normal;
font-weight: 300;
line-height: normal;
letter-spacing: 2.4px;
}

.contact1 h1{
    position: relative;
    font-family: 'Libre Franklin', sans-serif;
    margin-left: 68.61px;
    font-size: 68.406px;
    font-style: normal;
    font-weight: 700;
    color: #024164;
    margin-bottom: 25px;
    z-index: -5;
}


@media only screen and (max-width: 900px){


    img {
        display: inline-block;
        flex-shrink: 0;
        width: 37px;
    height: 35.645px;
    flex-shrink: 0;
    margin-top: 12px;
    
    }
    
h1 {
    display: inline-block;
    margin-top: 27px;
    flex-shrink: 0;
    font-family: 'Libre Franklin', sans-serif;
    color: #363636;
    font-size: 11.203px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    margin-top: 27px;
}

nav {
    margin-left: 32px;
    display: inline-flex;
    gap: 1px;
    background-color: #ffffff;
    position: sticky;
    top: 0px;
    margin: 0%;
    width: 100%;
    z-index: 5;
    margin-left: 0%;
}

li {
    list-style: none;
    margin-top: 12px;
    font-family: 'Libre Franklin', sans-serif;
    color: #363636;
    font-size: 9.952px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

ul {
    display: inline-flex;
    gap: 11.13px;
}


.content h1 {
    display: block;
    color: #024164;
    font-family: 'Libre Franklin', sans-serif;
    margin-left: 27px;
    margin-top: 90.35px;
   
font-size: 14.513px;
font-style: normal;
font-weight: 700;
line-height: normal;

    margin-bottom: 0px;
}

#main {
    color: #363636;
    font-family: 'Libre Franklin', sans-serif;
    margin-left: 27px;
   
font-size: 29.026px;
font-style: normal;
font-weight: 700;
line-height: normal;
  top: 0px;
  bottom: 0px;
  padding: 0px;
  margin-top: 0px;
}

.button1{
   
border-radius: 26.794px;
background: #024164;
box-shadow: 0px 4.46559px 4.46559px 0px rgba(0, 0, 0, 0.25);
width: 112.756px;
height: 28.637px;
    position: relative;
    vertical-align: bottom;
    margin-left: 32px;
    margin-top: 20px;
    z-index: -5;
}

#cont{
    color: #fff;
    text-align: center;
    font-family: 'Libre Franklin', sans-serif;
    
font-size: 13.062px;
font-style: normal;
font-weight: 400;
line-height: normal;
    vertical-align: middle;
    margin-right: 248.41px;
    width: 112.587px;
    height: 15.62px;
    margin-left: 0px;
    margin-top: 5px;
    flex-shrink: 0;
    top: 0px;
    position: absolute;
    z-index: -5;

}
.vector{
    position: absolute;
   
width: 400px;
height: 400.359px;

    margin-top: 40px;
    vertical-align: bottom;
    z-index: -5;
    box-sizing: border-box;
    object-fit: fill;
}

.car{
    width: 356px;
    height: 241.693px;
    flex-shrink: 0;
position: absolute;
margin-left: 22px;
top: 283px;
z-index: -5;
}
.socialimg{

    width: 28.796px;
    height: 28.403px;
    flex-shrink: 0;
    position: absolute;
    margin-left: 246px;
    top: 243px;
}
.social{
    display: flex;
    gap: 40px;

}

.about h1{
    position: relative;
    margin-top: 400px;
    font-family: 'Libre Franklin', sans-serif;
    margin-left: 32px;
    font-size: 29.026px;
    font-style: normal;
    font-weight: 700;
    color: #024164;
    margin-bottom: 5px;
    z-index: -5;
}
.about p{
    margin-left: 32px;
    color: #000;
    font-family: 'Libre Franklin', sans-serif;
    width: 300.58px;
    height: 20px;
    margin-top: 0px;
font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: normal;
letter-spacing: 2.4px;
margin-bottom: 5px;
}
.about{
    margin-top: 25px;
}

.Services1{
    margin-top: 100px;

}
.Services1 h1{
    position: relative;
    margin-top: 40px;
    font-family: 'Libre Franklin', sans-serif;
    margin-left: 0px;
    font-size: 29.026px;
    font-style: normal;
    font-weight: 700;
    color: #024164;
    margin-bottom: 5px;
    z-index: -5;
}

.Services1 p{
    margin-left: 0px;
    color: #000;
    font-family: 'Libre Franklin', sans-serif;
    width: 300.58px;
    height: 20px;
    margin-top: 0px;
font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: normal;
letter-spacing: 2.4px;
margin-bottom: 5px;
}
.Services1{
    margin-left: 650px;
}
.contact1{
        margin-top: 175px;

}

.contact1 p{
    margin-left: 32px;
    color: #000;
    font-family: 'Libre Franklin', sans-serif;
    width: 300.58px;
    height: 20px;
    margin-top: 0px;
font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: normal;
letter-spacing: 2.4px;
}

.contact1 h1{
    position: relative;
    margin-top: 25px;
    font-family: 'Libre Franklin', sans-serif;
    margin-left: 32px;
    font-size: 29.026px;
    font-style: normal;
    font-weight: 700;
    color: #024164;
    margin-bottom: 5px;
    z-index: -5;
}

#Services{
    margin-left: 32px;
}


.items a::after{
    content: "";
    position: absolute;
    background-color: #024164;
    height: 1px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}
.items a:hover:after{
    height: 1px;
    width: 100%;
    left: 0;
}

}